// colors

// "primary" colors
$darkBlue: #2a3cad;

// card colors
$boxShadowBlue: #17205a;
$backgroundBlue: #111845a6;
$progressLightBlue: #50dfdb;
$contentOrange: #f0a591;
$contentDark: rgba(255,255,255,0.1);
